<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Board List</title>
</head>
<body>
<h1>Board List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Title</th>
        <th>Created At</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${boardList}">
        <td th:text="${board.id}"></td>
        <td th:text="${board.name}"></td>
        <td th:text="${board.title}"></td>
        <td th:text="${#temporals.format(board.created_at,'yyyy-MM-dd')}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>