<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Board List</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/board.css">
</head>
<body>
<h1>Board List</h1>
<table th:if="${!boardList.empty}">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Title</th>
        <th>Created At</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${boardList}">
        <td th:text="${board.id}"></td>
        <td th:text="${board.name}"></td>
        <td >
            <a th:text="${board.title}" th:href="@{/boards/view(id=${board.id})}"></a>
        </td>
        <td th:text="${#temporals.format(board.created_at,'yyyy-MM-dd')}"></td>
    </tr>
    </tbody>
</table>
<div class="list_nav" th:if="${boardList.totalPages > 1}">
    <ul>
        <li th:each="i : ${#numbers.sequence(1,boardList.totalPages)}">
            <a th:href="@{/boards/list(page=${i})}" th:text="${i}"></a>
        </li>
    </ul>

</div>
<div class="list_newBoard">
    <a th:href="@{/boards/writeform}">글쓰기</a>
</div>
</body>
</html>