<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Update Board</title>
</head>
<body>
<form th:action="@{/boards/update}" method="post" th:object="${oldBoard}" th:with="newBoard=${oldBoard}">
    <input type="hidden" th:field="*{id}">
<!--    <input type="hidden" th:field="*{created_at}">-->
    <label for="name"></label>
    <input type="text" id="name" th:field="*{name}">
    <label for="title"></label>
    <input type="text" id="title" th:field="*{title}">
    <label for="content"></label>
    <input type="text" id="content" th:field="*{content}">
    <label for="password"></label>
    <input type="password" id="password" th:field="*{password}">
    <input type="submit" value="Update">
</form>
</body>
</html>