body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    margin: 20px 0;
}

.write_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #f1f1f1;
    padding: 2% 2%;
    width: 400px;
    border: solid 1px #D1D1D1;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
}

input {
    box-sizing: border-box;
    width: 100%;
    margin: 3px 0;
}

.password:focus {
    background-color: #E7EFFD;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    letter-spacing: 2px;
}

label {
    font-size: 14px;
    margin: 3px 0;
}

.submit_btn {
    height: 40px;
    background-color: #4BAF4F;
    width: 100%;
    margin-top: 10px;
    color: white;
}

